@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,500;0,600;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    transition: all .3s linear;
}

html {
    overflow-x: hidden;
    font-size: 70%;
}

.hire-title {
    margin-top: 70px;
    font-size: 38px;
}

.cus-brief {
    font-size: 16px;
    margin-top: 20px;
}


form {
    margin-top: 20px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    width: 55%;
}

#name {
    width: 50%;
    padding: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}

#mail {
    width: 50%;
    padding: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}

#bgame {
    background-color: red;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 50px;
    font-weight: bold;
}

.hire-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
}

#number {
    width: 50%;
    padding: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}

#date {
    width: 50%;
    padding: 15px;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}


#message {
    width: 50%;
    padding: 15px;
    height: 15vh;
    border: none;
    background-color: rgba(128, 128, 128, 0.185);
}
.about_btn{
    margin-top: 3rem;
    background-color: red;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 0 1rem;
    line-height: 0;
    padding: 5px 8px;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    font-weight: 600;
}
.about_btn i{
    background-color: white;
    border-radius: 18px;
    color: red;
    padding: .6rem;
    font-size: 14px;
    margin-left: 7px;
    margin-right: 0;
}
.about_btn:hover {
    padding: 1rem 2rem;
    font-size: 2rem;
}
.about_btn i:hover {
    padding: 1rem 2rem;
    font-size: 1rem;    
}